@font-face {
  font-family: 'CutieFont';
  src: url('../font/BreeSerif-Regular.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFontt';
  src: url('../font/Shrikhand-Regular.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFonttt';
  src: url('../font/TitanOne-Regular.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFontttt';
  src: url('../font/LilitaOne-Regular.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFonttttt';
  src: url('../font/Chewy-Regular.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFontttttt';
  src: url('../font/DancingScript-VariableFont_wght.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFonttttttt';
  src: url('../font/LeckerliOne-Regular.ttf') format('OpenType');
}

@font-face {
  font-family: 'CutieFontttttttt';
  src: url('../font/Futura Std Heavy.ttf') format('OpenType');
}


  @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  #mywebsite{
    background-color: rgb(214, 204, 191);
  }


  #landing{
    background-image: linear-gradient(to bottom,rgba(89, 64, 38, 0.253),rgba(75, 73, 65, 0.564)), url(../img/image/34.png);
    /* background: linear-gradient(0deg, rgba(255,255,255, 0.2), rgba(0,0,0,0.2)), url('img/image/5.jpg'); */
    /* background: url('/img/image/34.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    color: var(--color-white);
}


.got{

  margin: 40px 0 0 0;
}

.got h1{
  padding: 0 0 40px 0;
  font-family: sans-serif;
}





.que-h3 h3{
  font-family: CutieFonttt;
  font-weight: bold;
  color: #271f05;
  font-size: 30px;
}


.que-h3 p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}


/* animation for hidden */
.hidden{
  opacity:0;
  transition: all 1.5s;
  transform: translateX(-100%);
  }
  
  .show{
  
  opacity:1;
  transform:translateX(0);
  }



#footer{
  background-color: rgba(33, 18, 3, 0.93);
  padding: 20px;
  color: lightgray;
 
}
 

@media only screen and (min-width: 768px){

  .col-12 h3{
    font-size:30px;
  }

  .col-12 p{
    font-size:20px;
  }


}
